<h1>Feedback management</h1>
<form>
  <mat-form-field>
    <input matInput placeholder="Category name" value="Category" name="newFeedback.category" [(ngModel)]="newFeedback.category">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Your Feedback</mat-label>
    <mat-select placeholder="feedback" name="newFeedback.feedback" [(ngModel)]="newFeedback.feedback" >
      <mat-option *ngFor="let item of feedbackOptions" [value]="item.value">
        {{item.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" (click)="submitFeedback()">
    Submit
  </button>
</form>
<mat-divider></mat-divider>
<table mat-table [dataSource]="feedback" class="mat-elevation-z8">
  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element._id}} </td>
  </ng-container>
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>
  <ng-container matColumnDef="feedback">
    <th mat-header-cell *matHeaderCellDef> Feedback </th>
    <td mat-cell *matCellDef="let element"> {{element.feedback}} </td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element" class="actions-row ">
      <button mat-raised-button color="warn" (click)="deleteFeedback(element._id)">
        Delete
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="feedbackColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: feedbackColumns"></tr>
</table>
