<!--The content below is only a placeholder and can be replaced.-->
<mat-card class="full-card">
  <mat-card-header>
      <mat-toolbar color="primary">
          <mat-toolbar-row>
            <span>SAMS Web Client</span>
            <span class="spacer"></span>
            <p class="link" routerLink="/" routerLinkActive="active">Home Page</p>
            <p class="link" routerLink="/location" routerLinkActive="active">Location</p>
            <p class="link" routerLink="/temperature" routerLinkActive="active">Temperature</p>
          </mat-toolbar-row>
        </mat-toolbar>       
  </mat-card-header>
  <mat-card-content>
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>
